**Task:1**

In [1]:
prices = [1200, 850, 4300, 2999, 1500, 850]
total_products = len(prices)
print(f"Total number of products: {total_products}")
average_price = sum(prices) / len(prices)
print(f"Average price: {average_price:.2f}")
above_2000 = [price for price in prices if price > 2000]
print(f"Products above 2000: {above_2000}")
descending_prices = sorted(prices, reverse=True)
print(f"Prices in descending order: {descending_prices}")

Total number of products: 6
Average price: 1949.83
Products above 2000: [4300, 2999]
Prices in descending order: [4300, 2999, 1500, 1200, 850, 850]

**Task:2**

In [4]:

locations = [
    (24.8607, 67.0011),
    (31.5204, 74.3587),
    (33.6844, 73.0479)
]

print("Coordinate pairs:")
for location in locations:
    print(location)


latitudes = []
for location in locations:
    latitudes.append(location[0])
print("\nLatitudes:", latitudes)

print("\nTrying to modify a tuple:")
try:
    locations[0][0] = 25.0000
except TypeError as error:
    print("Error:", error)
    print("Tuples cannot be changed - they are immutable")

count = len(locations)
print("\nTotal coordinate pairs:", count)

Coordinate pairs:
(24.8607, 67.0011)
(31.5204, 74.3587)
(33.6844, 73.0479)

Latitudes: [24.8607, 31.5204, 33.6844]

Trying to modify a tuple:
Error: 'tuple' object does not support item assignment
Tuples cannot be changed - they are immutable

Total coordinate pairs: 3

**Task:3**

In [5]:

python_students = {"Ali", "Sara", "Ahmed", "Zain"}
ml_students = {"Sara", "Hassan", "Ali", "Fatima"}
both_courses = python_students & ml_students
print("Students in both courses:", both_courses)
only_python = python_students - ml_students
print("Students only in Python:", only_python)
all_students = python_students | ml_students
print("All students (unique):", all_students)
ml_students.add("Bilal")
print("\nAfter adding Bilal to ML course:")
print("ML students now:", ml_students)
print("\n--- Set Uniqueness Demo ---")
python_students.add("Ali")
print("Python students after trying to add Ali again:", python_students)
print("(Notice: Ali still appears only once - sets prevent duplicates)")

Students in both courses: {'Ali', 'Sara'}
Students only in Python: {'Zain', 'Ahmed'}
All students (unique): {'Fatima', 'Ahmed', 'Hassan', 'Zain', 'Ali', 'Sara'}

After adding Bilal to ML course:
ML students now: {'Fatima', 'Hassan', 'Bilal', 'Ali', 'Sara'}

--- Set Uniqueness Demo ---
Python students after trying to add Ali again: {'Sara', 'Ali', 'Zain', 'Ahmed'}
(Notice: Ali still appears only once - sets prevent duplicates)

**Task:4**

In [6]:

employees = {
    "E01": {"name": "Ali", "salary": 60000},
    "E02": {"name": "Sara", "salary": 75000},
    "E03": {"name": "Ahmed", "salary": 50000}
}
print("Employee IDs:")
for emp_id in employees:
    print(emp_id)
total_payroll = 0
for emp_id in employees:
    total_payroll = total_payroll + employees[emp_id]["salary"]
print("\nTotal payroll:", total_payroll)
print("\nEmployees earning above 60000:")
for emp_id in employees:
    if employees[emp_id]["salary"] > 60000:
        print(emp_id + ":", employees[emp_id]["name"])
employees["E04"] = {"name": "Fatima", "salary": 65000}
print("\nAfter adding new employee:")
for emp_id in employees:
    print(emp_id + ":", employees[emp_id]["name"], "-", employees[emp_id]["salary"])

Employee IDs:
E01
E02
E03

Total payroll: 185000

Employees earning above 60000:
E02: Sara

After adding new employee:
E01: Ali - 60000
E02: Sara - 75000
E03: Ahmed - 50000
E04: Fatima - 65000

**Task:5**

In [7]:
sales_data = {
    "electronics": [
        ("Laptop", 120000, 3),
        ("Mouse", 1500, 10)
    ],
    "clothing": [
        ("Shirt", 2500, 5),
        ("Shoes", 5000, 2)
    ]
}
category_revenue = {}

for category in sales_data:
    total = 0
    for item in sales_data[category]:
        product_name, price, quantity = item
        total = total + (price * quantity)
    category_revenue[category] = total

print("Revenue by category:", category_revenue)
unique_products = set()

for category in sales_data:
    for item in sales_data[category]:
        product_name, price, quantity = item
        unique_products.add(product_name)

print("Unique products:", unique_products)
print("\n--- REVENUE REPORT ---")
for category in category_revenue:
    print(f"{category}: Rs. {category_revenue[category]}")

print(f"\nTotal Revenue: Rs. {sum(category_revenue.values())}")
print(f"Number of unique products: {len(unique_products)}")

Revenue by category: {'electronics': 375000, 'clothing': 22500}
Unique products: {'Shirt', 'Shoes', 'Mouse', 'Laptop'}

--- REVENUE REPORT ---
electronics: Rs. 375000
clothing: Rs. 22500

Total Revenue: Rs. 397500
Number of unique products: 4

**Task:6**

In [8]:

inventory = {
    "electronics": [
        ("Laptop", 120000, 3),
        ("Mouse", 1500, 10),
        ("Keyboard", 3000, 5)
    ],
    "clothing": [
        ("Shirt", 2500, 5),
        ("Shoes", 5000, 0)  # Sold out
    ],
    "books": [
        ("Python Book", 1500, 4),
        ("Novel", 500, 6)
    ]
}
def add_product(category, name, price, qty):
    if category not in inventory:
        inventory[category] = []
    existing = {p[0] for p in inventory[category]}
    if name in existing:
        print(f"{name} already exists!")
        return

    inventory[category].append((name, price, qty))
    print(f"Added {name} to {category}")
def update_qty(category, name, new_qty):
    for i, product in enumerate(inventory[category]):
        if product[0] == name:
            inventory[category][i] = (name, product[1], new_qty)
            print(f"Updated {name} quantity to {new_qty}")
            return
def remove_sold_out():
    for cat in list(inventory.keys()):
        inventory[cat] = [p for p in inventory[cat] if p[2] > 0]
        if not inventory[cat]:
            del inventory[cat]
def get_unique_products():
    unique = set()
    for products in inventory.values():
        for p in products:
            unique.add(p[0])
    return unique
def generate_report():
    report = {}
    for cat, products in inventory.items():
        total = sum(p[1] * p[2] for p in products)
        report[cat] = total
    return report
print("=" * 50)
print("INVENTORY MANAGEMENT SYSTEM")
print("=" * 50)
add_product("electronics", "Camera", 25000, 2)
add_product("toys", "Car", 800, 3)
update_qty("electronics", "Laptop", 2)
remove_sold_out()
unique = get_unique_products()
print(f"\nUnique Products: {unique}")
report = generate_report()
print(f"\nReport Dictionary: {report}")
print("\nFINAL INVENTORY:")
for cat, products in inventory.items():
    print(f"\n{cat}:")
    for p in products:
        print(f"  {p[0]}: Rs.{p[1]} x {p[2]} = Rs.{p[1]*p[2]}")

==================================================
INVENTORY MANAGEMENT SYSTEM
==================================================
Added Camera to electronics
Added Car to toys
Updated Laptop quantity to 2

Unique Products: {'Mouse', 'Shirt', 'Car', 'Novel', 'Python Book', 'Camera', 'Laptop', 'Keyboard'}

Report Dictionary: {'electronics': 320000, 'clothing': 12500, 'books': 9000, 'toys': 2400}

FINAL INVENTORY:

electronics:
  Laptop: Rs.120000 x 2 = Rs.240000
  Mouse: Rs.1500 x 10 = Rs.15000
  Keyboard: Rs.3000 x 5 = Rs.15000
  Camera: Rs.25000 x 2 = Rs.50000

clothing:
  Shirt: Rs.2500 x 5 = Rs.12500

books:
  Python Book: Rs.1500 x 4 = Rs.6000
  Novel: Rs.500 x 6 = Rs.3000

toys:
  Car: Rs.800 x 3 = Rs.2400