**Task 1:**

In [1]:

food = 500
transport = 300
stationery = 200

total = food + transport + stationery

if total > 1500:
    print("Over budget!")
else:
    print("Within budget.")

print(f"Total: {total} PKR")

Within budget.
Total: 1000 PKR

**Task 2:**

In [2]:
usage = float(input("Enter data usage (GB): "))

if usage <= 5:
    print("Basic Package")
elif usage <= 15:
    print("Standard Package")
else:
    print("Premium Package")

Premium Package
Enter data usage (GB): 400

**Task 3:**

In [3]:
temperatures = [25, 32, 18, 40, 22, 29, 35]

normal = 0
high = 0

for temp in temperatures:
    if 15 <= temp <= 30:
        normal += 1
    elif temp > 30:
        high += 1

print(f"Normal: {normal}")
print(f"High: {high}")

Normal: 4
High: 3

**Task 4:**

In [4]:
incomes = [55000, 70000, 65000, 80000, 45000]
statuses = ['Unemployed', 'Employed', 'Employed', 'Employed', 'Employed']

qualified = 0

for i in range(len(incomes)):
    if incomes[i] >= 60000 and statuses[i] == 'Employed':
        qualified += 1

print(f"Qualified applicants: {qualified}")

Qualified applicants: 3

**Task 5:**

In [5]:
speeds = [75, 90, 60, 85, 95, 70, 100]

violations = 0

for speed in speeds:
    if speed > 80:
        violations += 1

percentage = (violations / len(speeds)) * 100

print(f"Violations: {violations}")
print(f"Percentage: {percentage:.1f}%")

Violations: 4
Percentage: 57.1%